<header>
<div class="container">
    <div id="branding">
     <img src="/assets/img/logo.jpg" (click)="homerouting()" alt="Avatar" style="width: 200px;height: 70px;margin-top: -8%;">
    </div>
    <div id="containersearch">
       <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" name="search">
          <div class="input-group-btn">
            <button class="btn btn-default searchbutton" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
          </div>
        </div>
    </div>
    <nav>
    <ul class="nav navbar-nav">
          <li class="active"><a routerLink="/sellCar">Sell Car</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
    </ul>
    
    </nav>
    
    </div>
    
    </header>