body{
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:1.5;
	padding:0;
	margin:0;
	background-color:#f4f4f4;
}

header{
		background:#35424a;
		color : #ffffff;
		padding-top:30px;
		border-bottom:#e8491d 3px solid;
	
}

header a {
	
	color: #ffffff;
	text-decoration : none;
	text-transform: uppercase;
	font-size: 16px;
	
}

 ul {
	
	margin:0;
	padding:0;
	
}

header li {
	
	float: left;
	display: inline;
	padding:0 10px 0 10px;
	
}
/*
header li:hover  {
	
	cursor: pointer;
	color:#e8491d;
	
}
*/
header #containersearch {
	width:30%;
	float: left;
	margin-left: 10%;
}

header #branding {
	
	float: left;
	
	
}

header #branding h1{
	
	margin: 0;
	
}



header nav{
	float: right;
	
}

#showcase {
	
	min-height: 400px;
	background:url('../img/banner_3.jpg');
	 background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 162px 0;
}




/* center search box */
.backgroundofform {

  height: 80px;
  background: rgba(0, 28, 56, 0.6);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
      width: 50%;
	  
    margin-left: 20%;
	color: #ffffff;
}


.showcaseheading {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
}

#selectbox1 {
width : 40%;	
float: left;
margin:0 3px; 
}

#selectbox2 {
width : 40%;	
float: left;
margin:0 3px; 

}

#button3 {
width : 15%;	
float: left;
margin:0 2px; 

}


.card {
  box-shadow: 4 4px 8px 4 rgba(0,0,0,0.2);
  transition: 0.3s;
  
 
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.value {
  padding: 2px 16px;
 
}

	
.column {
  float: left;
  width: 33.33%;
   padding: 0 5px 0 5px;
  border: 1px solid #ccc;
  
}

.column::hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  
}	

#cardview{
	margin-top: 1%;
	
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border: 1px solid #ccc;
	padding-bottom: 1%;
	
}

.imageclass{
	
	width : 365px;
	height : 245px;
}

#sellcarshowcase {
	
	min-height: 400px;
	background:url('../img/banner_3.jpg');
	 background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 162px 0;
}


.footer{
		background:#35424a;
		color : #ffffff;
		padding-top:30px;
		border-bottom:#e8491d 1px solid;
		border-top:#e8491d 1px solid;
		margin-top: 3%;

}

#file1 {
  display: none;

}

#file2 {
  display: none;

}

#file3 {
  display: none;

}

#file4 {
  display: none;

}

.img {
  cursor: pointer;
  width: 100px;
  height: 50px;
}

img.default {
  border: 1px gray bold;
  height: 40px;
  width: 40px;
}

.leftfacet{
	width: 25%;
	margin-left:25%;
	
}

.rightpanel{
	width: 75%;
	
}