<section id="showcase">
    <div class="backgroundofform">
    <div class="showcaseheading">
        <h3> Select your brand</h3>       
    </div>	
    
    <div class="showcasedropdown">
    
    <select class="form-control space-right" id="selectbox1">
            <option>BMW</option>
            <option>Audi</option>
            <option>Mercedes</option>
            </select>
     
     <select class="form-control" id="selectbox2">
            <option>BMW</option>
            <option>Audi</option>
            <option>Mercedes</option>
            </select>
            <button type="button" class="btn btn-primary" id="button3" (click)="searchCar()">Search</button>
    </div>
    
    </div>
    
    
    
    </section>
    
   
    
<div class="container" id="cardview">
  <div>
      <h3> Latest Cars </h3>
  </div>
  <div class="column">
    <div class="card">
      <img class = "imageclass" src="/assets/img/latest1.jpg" alt="Avatar" style="width:100%">
      <div class="value">
        <h4><a href="">John Doe</a></h4>
        <p>Rs 5.14 - 8.84 Lakh*</p>
      </div>
    </div>
    </div>
    
    <div class="column">
    <div class="card">
      <img class = "imageclass" src="/assets/img/latest2.jpg" alt="Avatar" style="width:100%">
      <div class="value">
       <h4><a href="">John Doe</a></h4>
        <p>Rs 5.14 - 8.84 Lakh*</p>
      </div>
    </div>
    </div>
    
    <div class="column">
    <div class="card">
      <img class = "imageclass" src="/assets/img/latest3.jpg" alt="Avatar" style="width:100%">
      <div class="value">
        <h4><a href="">John Doe</a></h4>
        <p>Rs 5.14 - 8.84 Lakh*</p>
      </div>
    </div>
    </div>
    
    </div>
    
  
    <div class="container" id="cardview">
      <h3> Most Searched Cars </h3>
      
      <div class="column">
    <div class="card">
      <img class = "imageclass" src="/assets/img/recom1.jpg" alt="Avatar" style="width:100%">
      <div class="value">
        <h4><a href="">John Doe</a></h4>
        <p>Rs 5.14 - 8.84 Lakh*</p>
      </div>
    </div>
    </div>
    
    <div class="column">
    <div class="card">
      <img class = "imageclass" src="/assets/img/recom2.jpg" alt="Avatar">
      <div class="value">
        <h4><a href="">John Doe</a></h4>
        <p>Rs 5.14 - 8.84 Lakh*</p>
      </div>
    </div>
    </div>
    
    <div class="column">
    <div class="card">
      <img class = "imageclass" src="/assets/img/recom3.jpg" alt="Avatar" style="width:100%">
      <div class="value">
        <h4><a href="">John Doe</a></h4>
        <p>Rs 5.14 - 8.84 Lakh*</p>
      </div>
    </div>
    </div>
    
    </div>
